.Header {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Header > .HeaderMenu {
  margin-left: 2em;
  text-decoration: none;
  background-color: #76BA99;
  border: 1px solid rgb(99, 84, 67);
  border-radius: 1.5rem;
  box-sizing: border-box;
 
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0rem 0rem;
  text-align: center;
  text-decoration: none #9b0f50 solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Elena {
  position: fixed;
  left: 9%;
  font-size: 1.7em;
  font-weight: bold;
  color: rgb(88, 74, 58);
}


@media (min-width: 768px) {
  .Header > .HeaderMenu {
    font-size: 8%;
    margin: 0.5rem;
  }
}

.Header .MuiSvgIcon-root {
 color: #876445;
}

.Header .MuiButton-root {
  color: #876445;
  border-radius: 1.5rem;
}

.Header .MuiButton-root:hover {
  background-color: #533E85;
  border-radius: 1.5rem;
}

.Header > .Clock {
  position: fixed;
  left: 92%;
  background-color:#CA955C;
  border: 1px solid rgb(99, 84, 67);
  color: rgb(99, 84, 67);
  border-radius: 0.7rem;
  padding: 0.2rem;
}



/* .Header > .HeaderMenu:active {
  background-color: #533E85;
}
.Header > .HeaderMenu .active {
  background-color: #533E85;
} */

/*  .Header nav ul li a{
  color:blueviolet;
} 

.Header li {
	color:blueviolet;
	text-shadow: 20px, px, 10px, rgb(225, 4, 245);
	box-shadow: 10px, 10px;

} 
.Header nav ul li {
	display: inline;
	margin: 3em;
}

.Header nav ul {
	list-style-type: none; 
	text-align: left;
	margin-top:30px;
}

.Header nav ul li a.active {
	text-decoration: none;
	font-weight: bold;
	color:rgb(225, 4, 245);
	text-shadow: 4px -2px 10px rgb(225, 4, 245);
}

.Header nav ul li a:hover{
	color:rgb(225, 4, 245);
	text-shadow: 7px -4px 10px rgb(225, 4, 245);

}

.Header ::selection{
	background-color: rgb(228, 203, 173);
}

.Header #first{

} */

/* .Header nav ul li a.active{
	color:rgb(124, 69, 129);
	font-weight: bold;
} */

/* .Header .NavLink{
	color: rgb(58, 51, 51);
} */

/* .Header .NavLink:active{
	color: rgb(55, 131, 84);
} */

/* .Header {
	
}

.Header{
	position: fixed;
	width: 100%;
	display: block;
}
 
.Header .flexy{
	box-sizing: border-box;
    
    align-items: center;
    
    display: flex;
    
    justify-content: space-between;
} 

.Header .flexy--top{
	align-items: flex-start;
}

.Header .nav-list{
	margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    max-width: 90%;
}

.Header .nav-list {
	align-items: flex-start;

	-webkit-font-smoothing: antialiased;

	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.Header li{
	display: list-item;
    text-align: -webkit-match-parent;
}

.Header .flexy__item {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

.Header .home-item{
	position: absolute;
    left: 50%;
    top: 2px;
    transform: translate3d(-50%,0,0);
    display: none;
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);

	box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

 */
